# .coveragerc to control coverage.py - contents taken from official docs

[report]
# Regexes for lines to exclude from consideration
exclude_lines =

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

[tool:pytest]
addopts= --cov=PyDynamic