# Build artifacts #
###################
build/
dist/
PyDynamic.egg-info/
docs/_build
docs/CHANGELOG.md
docs/CONTRIBUTING.md
docs/INSTALL.md
docs/README.md
docs/CODE_OF_CONDUCT.md
docs/**/*.ipynb

# Testing artifacts #
#####################
__pycache__/
.hypothesis/
.pytest_cache/
.tox
test-results/
.coverage
.coverage.*
coverage.xml
junit.xml
codecov*

# Jupyter Notebook artifacts #
##############################
.ipynb_checkpoints/

# Environment artifacts #
#########################
.idea/
