# Build artifacts #
###################
build/
dist/
PyDynamic.egg-info/
docs/_build

# Testing artifacts #
#####################
.pytest_cache/
__pycache__/
.coverage
.coverage.*
pytest.xml
.tox
.hypothesis/*
!.hypothesis/examples/

# Jupyter Notebook artifacts #
##############################
.ipynb_checkpoints/

# Environment artifacts #
#########################
.idea/
